In [14]:
import pandas as pd
import os
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import matplotlib.ticker as mtick
from email_validator import validate_email, EmailNotValidError

In [15]:
df =  pd.read_csv("developper_info.csv")

In [16]:
df

              username                                             email
0         berliner2020                    jlykken@kodinggriz.awsapps.com
1         berliner2020    58152786+berliner2020@users.noreply.github.com
2            fg-mindee                         felixdittrich92@gmail.com
3            fg-mindee  106678676+odulcy-mindee@users.noreply.github.com
4      felixdittrich92       125863421+felixT2K@users.noreply.github.com
...                ...                                               ...
10997        hypnopump                            lucheng.lc15@gmail.com
10998        hypnopump        59462357+stevhliu@users.noreply.github.com
10999        hypnopump                           isamu.website@gmail.com
11000   jeffreyruffolo                                  jruffolo@jhu.edu
11001   jeffreyruffolo                          jeffreyruffolo@gmail.com

[11002 rows x 2 columns]

In [17]:
df = df.drop_duplicates()
df

              username                                             email
0         berliner2020                    jlykken@kodinggriz.awsapps.com
1         berliner2020    58152786+berliner2020@users.noreply.github.com
2            fg-mindee                         felixdittrich92@gmail.com
3            fg-mindee  106678676+odulcy-mindee@users.noreply.github.com
4      felixdittrich92       125863421+felixT2K@users.noreply.github.com
...                ...                                               ...
10997        hypnopump                            lucheng.lc15@gmail.com
10998        hypnopump        59462357+stevhliu@users.noreply.github.com
10999        hypnopump                           isamu.website@gmail.com
11000   jeffreyruffolo                                  jruffolo@jhu.edu
11001   jeffreyruffolo                          jeffreyruffolo@gmail.com

[6880 rows x 2 columns]

In [18]:
df = df[df["email"].str.contains("noreply") == False]
df

              username                           email
0         berliner2020  jlykken@kodinggriz.awsapps.com
2            fg-mindee       felixdittrich92@gmail.com
9      felixdittrich92               charles@mindee.co
10     felixdittrich92             eltociear@gmail.com
11     felixdittrich92    njrfarhandasilva10@gmail.com
...                ...                             ...
10996        hypnopump        markuspobitzer@gmail.com
10997        hypnopump          lucheng.lc15@gmail.com
10999        hypnopump         isamu.website@gmail.com
11000   jeffreyruffolo                jruffolo@jhu.edu
11001   jeffreyruffolo        jeffreyruffolo@gmail.com

[4862 rows x 2 columns]

In [19]:
!pip install email-validator

Requirement already satisfied: email-validator in c:\users\fpatr\anaconda3\envs\data_analysis\lib\site-packages (2.0.0.post2)
Requirement already satisfied: dnspython>=2.0.0 in c:\users\fpatr\anaconda3\envs\data_analysis\lib\site-packages (from email-validator) (2.3.0)
Requirement already satisfied: idna>=2.0.0 in c:\users\fpatr\anaconda3\envs\data_analysis\lib\site-packages (from email-validator) (3.4)

In [20]:
def verify_and_remove_invalid_emails(df):
    # Create an empty list to store valid rows
    valid_rows = []

    # Iterate over each row in the original dataframe
    for _, row in df.iterrows():
        email = row['email']
        try:
            # Validate the email address
            validate_email(email)

            # If the email is valid, add the row to the valid rows list
            valid_rows.append(row)
        except EmailNotValidError:
            # If the email is not valid, skip the row
            pass

    # Create a new dataframe from the valid rows
    valid_df = pd.concat(valid_rows, axis=1).T

    return valid_df

In [21]:
df = verify_and_remove_invalid_emails(df)
df

              username                           email
0         berliner2020  jlykken@kodinggriz.awsapps.com
2            fg-mindee       felixdittrich92@gmail.com
9      felixdittrich92               charles@mindee.co
10     felixdittrich92             eltociear@gmail.com
11     felixdittrich92    njrfarhandasilva10@gmail.com
...                ...                             ...
10996        hypnopump        markuspobitzer@gmail.com
10997        hypnopump          lucheng.lc15@gmail.com
10999        hypnopump         isamu.website@gmail.com
11000   jeffreyruffolo                jruffolo@jhu.edu
11001   jeffreyruffolo        jeffreyruffolo@gmail.com

[4720 rows x 2 columns]

In [28]:
# df.reset_index(drop=True)
df.to_csv("developper_email.csv", index=False)